Repository EdwardKN/Monopoly, pull requests merged in 2023-05, with the labels that each got.

#104 Scaling och kordinatsystem
  constants.js
  game.js
  images/buttons/sellbutton.png
  images/community card and chance card/fa50kr.png
  images/community card and chance card/gatillnarmstaanlaggning.png
  images/community card and chance card/gatillnarmstatagstation.png
  images/community card and chance card/gatillsimrishamn.png
  images/mac.ftpp
  images/texture.json
  images/texture.png
  server/config.json
  style.css
Labels: enhancement, local

#109 Chans och communitykort
  constants.js
  downscale.js
  game.js
  images/Edward windows.ftpp
  images/buttons/antilising.png
  images/buttons/exitCard.png
  images/buttons/exitCardTrans.png
  images/buttons/load.png
  images/buttons/local.png
  images/buttons/nextplayer.png
  images/buttons/online.png
  images/buttons/rolldice.png
  images/buttons/saveselect.png
  images/buttons/setting.png
  images/community card and chance card/betalahushotell.png
  images/community card and chance card/betalahushotellc.png
  images/community card and chance card/emptychancecard.png
  images/community card and chance card/fa100krc.png
  images/community card and chance card/fa10kravallaandraspelarec.png
  images/community card and chance card/fa10krc.png
  images/community card and chance card/fa150kr.png
  images/community card and chance card/fa200krc.png
  images/community card and chance card/fa20krc.png
  images/community card and chance card/fa50kr.png
  images/community card and chance card/fa50kravallaandraspelare.png
  images/community card and chance card/fa50kravallaandraspelarec.png
  images/community card and chance card/fa50krc.png
  images/community card and chance card/forlora25krc.png
  images/community card and chance card/forlora50krc.png
  images/community card and chance card/gabaktresteg.png
  images/community card and chance card/gatillfinkan.png
  images/community card and chance card/gatillfinkanS.png
  images/community card and chance card/gatillfinkanc.png
  images/community card and chance card/gatillhassleholm.png
  images/community card and chance card/gatillmalmo.png
  images/community card and chance card/gatillnarmstaanlaggning.png
  images/community card and chance card/gatillnarmstatagstation.png
  images/community card and chance card/gatillsimrishamn.png
  images/community card and chance card/gatillsodrastationen.png
  images/community card and chance card/gatillstart.png
  images/community card and chance card/gatillstartc.png
  images/community card and chance card/illegaldices.png
  images/community card and chance card/lamnafinkangratis.png
  images/community card and chance card/lamnafinkangratisc.png
  images/community card and chance card/specialempty.png
  images/menus/exitmenu.png
  images/texture.json
  images/texture.png
  index.html
Labels: bug, enhancement, local

#114 Små förbättringar
  constants.js
  game.js
  images/buttons/start.png
  images/buttons/startauction.png
  images/community card and chance card/payincometax.png
  images/community card and chance card/payrichtax.png
  images/menus/auctionloadingbar.png
  images/menus/auctionmenubackground.png
  images/plates/electricmortgaged.png
  images/plates/trainmortgaged.png
  images/plates/watermortgaged.png
  images/texture.ftpp
  images/texture.json
  images/texture.png
  server/config.json
Labels: bug, enhancement, local

#122 Namn för bots
  constants.js
  game.js
  images/menus/mainmenu tom.png
  images/menus/mainmenu.png
  images/texture.json
  images/texture.png
  namn.json
Labels: enhancement, local

#49 Bot
  bot.js
  constants.js
  game.js
Labels: bug, enhancement, bot

#125 fixar
  game.js
Labels: bug, local

#128 buggfixar
  bot.js
  game.js
Labels: bug, local, bot

#130 Små fixar
  bot.js
  game.js
Labels: bug, enhancement, local, bot
